.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix

content/.obsidian
content/Copilot
content/Blog
content/Canvas
content/Canvas
content/Drafts