@use "./base.scss";
@use "./variables.scss" as *;

#quartz-body {
  max-width: $pageWidth !important;
  display: flex !important;
  flex-direction: column !important;
  margin: auto;
  font-size: 17px;
  line-height: 1.7;
}

.page > #quartz-body .sidebar {
  position: initial !important;
  flex-direction: row !important;
  padding: 0 !important;
  max-width: initial !important;
  margin-top: 2rem !important;
}

#quartz-body .left {
  max-width: $pageWidth !important;
  gap: 0 !important;
  align-items: center !important;
  max-width: $pageWidth !important;
}

#quartz-body .right {
  max-width: $pageWidth !important;
  & > * {
    flex: 1 !important;
  }
  max-width: $pageWidth !important;
}

.page-header {
  //max-width: initial !important;
  margin-top: 2rem !important;
}

.center,
footer {
  max-width: $fullPageWidth !important;
  
}

.search>#search-container>#search-space>* {
  background-color: #FFF;
}