@use "./base.scss";
@use "./variables.scss" as *;

#quartz-body {
  max-width: $pageWidth !important;
  display: flex !important;
  flex-direction: column !important;
  margin: auto;
  font-size: 1rem;
  line-height: 1.7;
  @media screen and (min-width: $pageWidth) {
    width: $pageWidth !important;
  }
}

.page > #quartz-body .sidebar {
  position: initial !important;
  flex-direction: row !important;
  padding: 0 !important;
  max-width: $pageWidth !important;
  margin-top: 2rem !important;
  @media screen and (max-width: $pageWidth) {
    position: initial;
    flex-direction: row;
    padding: 0;
    width: initial;
    margin-top: 2rem;
  }
}

#quartz-body .left {
  max-width: $pageWidth !important;
  gap: 0 !important;
  align-items: center !important;
  @media screen and (min-width: $pageWidth) {
    width: $pageWidth !important;
  }
}

#quartz-body .right {
  max-width: $pageWidth !important;
  right: calc(calc(100vw - $pageWidth) / 2 - $sidePanelWidth);
  flex: 1 !important;
  display: flex;
  @media screen and (min-width: $pageWidth) {
    width: $pageWidth !important;
  }
}

.page-header {
  //max-width: initial !important;
  margin-top: 2rem !important;
}

.center,
footer {
  max-width: $pageWidth !important;
  @media screen and (min-width: $pageWidth) {
    width: $pageWidth !important;
  }
}

.search > #search-container > #search-space > * {
  background-color: #fff;
}

.graph {
  @media screen and (max-width: $mobileBreakpoint) {
    display: none;
  }
}

a.internal.tag-link {
  background-color: var(--light);
  color: var(--tertiary);
  border: 1px solid var(--tertiary);
  font-size: 0.9em;
  font-weight: normal;
}

a.internal.tag-link:hover {
  background-color: var(--darkgray);
  color: white !important;
}
