@use "./base.scss";
@use "./variables.scss" as *;

#quartz-body {
  max-width: $pageWidth !important;
  display: flex !important;
  flex-direction: column !important;
  margin: auto;
}

.page > #quartz-body .sidebar {
  position: initial !important;
  flex-direction: row !important;
  padding: 0 !important;
  max-width: initial !important;
  margin-top: 2rem !important;
}

#quartz-body .left {
  left: calc(calc(100vw - $pageWidth) / 2 - $sidePanelWidth);
  gap: 0 !important;
  align-items: center !important;
}

#quartz-body .right {
  right: calc(calc(100vw - $pageWidth) / 2 - $sidePanelWidth);
  & > * {
    flex: 1 !important;
  }
}

.page-header {
  max-width: initial !important;
  margin-top: 2rem !important;
}

.center,
footer {
  max-width: $pageWidth !important;
  
}

.search>#search-container>#search-space>* {
  background-color: #FFF;
}